@tailwind base;
@tailwind components;
@tailwind utilities;
.bold-consistent-width:after {
    @apply block font-bold h-[1px] opacity-0 overflow-hidden invisible;
    content: attr(data-text);
}

.flex-2 {
    flex: 2 1 0%;
}

.shadow-bold {
    text-shadow: 0px 0px 1px white;
}