@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
    --fd-nav-height: 50px !important;
    --fd-toc-nav-height: 50px !important;
    --fd-color-primary: #0099dd !important;
    --color-fd-primary: #0099dd !important;
}

#nd-docs-layout > div:first-child {
    left: 4px;
    top: calc(var(--fd-nav-height) + 8px) !important;
}

.bg-fd-primary {
    background-color: #0099dd;
}

.liveEditor pre {
    padding: 5px 3px !important;
    font-size: 13px !important;
    line-height: var(--tw-leading, var(--text-sm--line-height));
}

.prose p a {
    color: #0099dd !important;
}
